<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
    </li>
    <li>
      <%= book.author %>
    </li>
    <li>
      <%= book.publish_date %>
    </li>
    <li>
      <%= book.genre %>
    </li>
    <li>
      <%= book.isbn %>
    </li>
  <% end %>
</ul>
