<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      Title: <%= link_to book.title, book %>
    </li>
    <li>
      Author: <%= book.author %>
    </li>
    <li>
      Publish Date: <%= book.publish_date %>
    </li>
    <li>
      Genre: <%= book.genre %>
    </li>
    <li>
      ISBN: <%= book.isbn %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "New Book", new_book_path %>